# Ignore node_modules (since we'll install dependencies inside the container)
node_modules/

# Ignore log files
*.log

# Ignore the Dockerfile itself
Dockerfile

# Ignore the .git directory
.git/

# Ignore the package-lock.json (if not needed)
package-lock.json
